body{
    background-color: #202124 !important;
    color: white;
}
.main-th{
    cursor: pointer;
}
.th-bg{
    background-color: #18181a !important;
}
.th-bg:hover{
    background-color: #303134 !important;
}
.th-bg:active{
    background-color: #303134 !important;
}
table{
    border: #545454 solid 1px !important;
    color: #aaadb2 !important;
}
table td{
    background-color: #303134 !important;
}

.dark-theme-btn{
    border-radius: 20px !important;
    top: 0px;
    left: 40px;
}
.dark-theme-btn::after{
    background-image: url("..//img/moon.png");
    background-size: 16px, 16px;
    content: "";
    width: 16px;
    height: 16px;
    float: right;
    margin: 4px 2px;
}
.dark-theme-btn-active::after{
    background-image: url("..//img/sun.png");
    background-size: 16px, 16px;
    content: "";
    width: 16px;
    height: 16px;
    float: right;
    margin: 4px 2px;
}