body{
    background-color: white;
}
.main-th{
    cursor: pointer;
}
.th-bg{
    background-color: #c9c9c9 !important;
}
.th-bg:hover{
    background-color: #acacac !important;
}
.th-bg:active{
    background-color: #acacac !important;
}
table{
    border: black solid 1px !important;
}

.dark-theme-btn{
    border-radius: 20px !important;
    top: 0px;
    left: 40px;
}
.dark-theme-btn::after{
    background-image: url("moon.png");
    background-size: 16px, 16px;
    content: "";
    width: 16px;
    height: 16px;
    float: right;
    margin: 4px 2px;
}
.dark-theme-btn-active::after{
    background-image: url("sun.png");
    background-size: 16px, 16px;
    content: "";
    width: 16px;
    height: 16px;
    float: right;
    margin: 4px 2px;
}